<!-- <td-data-table
#dataTable
[data]="filteredData"
[columns]="columns">
<ng-template tdDataTableTemplate="edit" let-value="value">
    <mat-icon class="tdDataTableIcon" (click)="dataTableModification($event, filteredData)">more_vert</mat-icon>
</ng-template>
</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>No results to display.</h3>
</div>
<td-paging-bar #pagingBar  pageLinkCount="5" [firstLast]="false" [pageSize]="pageSize" [total]="basicData.length" (change)="changeLinks($event)">
  <span hide-xs>{{pagingBar.range}} of {{pagingBar.total}}</span>
</td-paging-bar> -->

<!-- TODO: Pagination -->
<table td-data-table>
  <thead>
    <tr td-data-table-column-row>
      <th td-data-table-column
          *ngFor="let column of columns"
          [numeric]="column.numeric">
        {{column.label}}
      </th>
      <th td-data-table-column></th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let row of filteredData">
      <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
        {{column.format ? column.format(row[column.name]) : row[column.name]}}
      </td>
      <td td-data-table-cell (click)="dataTableModification($event, row)" align="start">
        <mat-icon class="tdDataTableIcon">more_vert</mat-icon>
      </td>
    </tr>
  </tbody>
</table>

<!-- Tipos De Tarifa options - TODO: Needs to make separate Component : DATTU-->
<div class="dataTableModification shadow p-3 mb-5 bg-white rounded" *ngIf="view" [ngStyle]="{'top': tdOffsetTop + 'px', 'left': tdOffsetLeft + 'px' }">
      <ul class="dataTableOptions">
        <li (click)="edit()"><span><mat-icon>edit</mat-icon></span><span>Editar tipo de tarifa</span></li>
        <!-- <li><span><mat-icon>visibility</mat-icon></span><span>Ver centros asignadas</span></li>
        <li><span><mat-icon>check_box</mat-icon></span><span>Marcar por defecto</span></li>
        <li (click)="delete()"><span><mat-icon>delete</mat-icon></span><span>Borrar tipo de tarifa</span></li> -->
      </ul>
</div>

