<table td-data-table (scroll)="onScroll($event)" [class.scrollable-table]="scrollable">
  <thead>
    <tr td-data-table-column-row>
      <th td-data-table-column
          *ngFor="let column of columns"
          [numeric]="column.numeric"
          [title]="column.label"
          [width]="column.width">
        {{column.label}}
      </th>
      <th td-data-table-column></th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let row of filteredData">
      <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric" [ngSwitch]="column.name">
        <div>
            <span *ngSwitchCase="'fechaDesdeVigencia'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | stringToDateFormat}}
            </span>
            <span *ngSwitchCase="'fechaFin'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | stringToDateFormat}}
            </span>
            <span *ngSwitchCase="'importeParkingMax'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | currency:'EUR' }}
            </span>
            <span *ngSwitchCase="'importeMinSinCompra'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | currency:'EUR' }}
            </span>
            <span *ngSwitchCase="'importeMin1Hora'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | currency:'EUR' }}
            </span>
            <span *ngSwitchCase="'importeMin2Hora'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | currency:'EUR' }}
            </span>
            <span *ngSwitchCase="'costeFraccion'">
              {{column.format ? column.format(row[column.name]) : row[column.name] | currency:'EUR' }}
            </span>
            <span *ngSwitchCase="'porDefecto'">
              <button class="porDefecto" mat-button disabled="disabled">{{row[column.name] ? literals.tiposTarifa.porDefectoLabel : ""}}</button>
            </span>
            <span *ngSwitchDefault>
                {{column.format ? column.format(row[column.name]) : row[column.name] }}
            </span>

        </div>
      </td>
      <td td-data-table-cell (click)="dataTableModification($event, row)" align="start" *ngIf="showView">
        <mat-icon class="tdDataTableIcon">more_vert</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Filas por página:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
      {{size}}
    </mat-option>
  </mat-select>
  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>

<!-- Tipos De Tarifa options - TODO: Needs to make separate Component : DATTU-->
<div class="dataTableModification shadow p-3 mb-5 bg-white rounded" #viewElement *ngIf="view" [ngStyle]="{'top': tdOffsetTop + 'px', 'left': tdOffsetLeft + 'px' }">
  <div class="dataTableOptions">
      <ul>
          <li *ngIf="literalKey === 'tiposTarifa' || literalKey === 'paramTarifas'" (click)="edit()"><span><mat-icon>edit</mat-icon></span><span>{{literals[literalKey].edit}}</span></li>
          <li *ngIf="literalKey === 'tiposTarifa' || literalKey === 'paramTarifas'" (click)="navigateToCentros()"><span><mat-icon>visibility</mat-icon></span><span>{{literals[literalKey].showCentrosAsignados}}</span></li>
          <li *ngIf="literalKey === 'tiposTarifa'" (click)="setPorDefecto()"><span><mat-icon>check_box</mat-icon></span><span>{{literals[literalKey].setPorDefecto}}</span></li>
          <li *ngIf="literalKey === 'tiposTarifa' || literalKey === 'paramTarifas'" (click)="delete()"><span><mat-icon>delete</mat-icon></span><span>{{literals[literalKey].delete}}</span></li>
          <li *ngIf="literalKey === 'centros'" (click)="delete()"><span><mat-icon>delete</mat-icon></span><span>{{literals[literalKey].delete}}</span></li>
        </ul>
        <span class="arrow"></span>
  </div>
</div>

