<div class="parkingRateManagement" #parkingRateType [style.height.px]="pageHeight">
  <form [formGroup]="parkingRateManagement" (ngSubmit)="parkingRateManagementSubmit()" novalidate>
    <div class="row">
      <div class="col-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>{{'Tipo de tarifa'}}</mat-label>
            <input matInput placeholder="{{'EJ: G'}}" autocomplete="off" formControlName="tipodeTarifa">
          </mat-form-field>
          <div *ngIf="tipoDeTarifaControl.invalid && (tipoDeTarifaControl.dirty || tipoDeTarifaControl.touched)" class="error-msg">
            <div *ngIf="tipoDeTarifaControl.errors.required">
              {{literals.requiredField}}
            </div>
          </div>
      </div>
      <div class="col-lg-5">
          <mat-form-field appearance="outline">
            <mat-label>{{'Descripción'}}</mat-label>
            <input matInput placeholder="{{'EJ: Gratitude'}}" autocomplete="off" formControlName="description">
          </mat-form-field>
          <div *ngIf="tipoDeDescriptionControl.invalid && (tipoDeDescriptionControl.dirty || tipoDeDescriptionControl.touched)" class="error-msg">
            <div *ngIf="tipoDeDescriptionControl.errors.required">
              {{literals.requiredField}}
            </div>
          </div>
      </div>
      <div class="col-lg-4" *ngIf="compName !== 'alta'">
        <div class="tipos-tarif-search-action">
            <button mat-stroked-button color="basic" class="mat-stroked-button" type="button" (click)="discard()"><span>{{'Limpiar'}}</span></button>
            <button mat-raised-button color="primary" type="submit">{{'Buscar'}}</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="compName == 'alta'">
        <div class="col-lg-12 alta-actions">
            <div class="alta tipos-tarif-search-action">
                <button mat-stroked-button color="basic" class="mat-stroked-button"
                  type="button" [routerLink]="'/tipos-tarifa'"><span>{{'Limpiar'}}</span></button>
                <button mat-raised-button color="primary" 
                  type="submit"
                  [disabled]="!parkingRateManagement.valid">{{'Buscar'}}</button>
            </div>
          </div>
    </div>
  </form>
</div>